*~
*.swp
*.ipr
*.iml
*.iws
.idea/
sbt/*.jar
.settings
.cache
.mima-excludes
/build/
work/
out/
.DS_Store
third_party/libmesos.so
third_party/libmesos.dylib
target/
reports/
.project
.classpath
.scala_dependencies
lib_managed/
src_managed/
project/boot/
project/plugins/project/build.properties
project/build/target/
project/plugins/target/
project/plugins/lib_managed/
project/plugins/src_managed/
logs/
log/
dependency-reduced-pom.xml
.ensime
.ensime_lucene
checkpoint
derby.log
dist/
unit-tests.log
/lib/
rat-results.txt
scalastyle.txt
